<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Sam Souder</string>
	<key>uuid</key>
	<string>77F28689-C7D3-40CE-9215-BB44433BF1ED</string>
</dict>
</plist>
